@media only screen and (min-width: 64em) {
   
   nav {
      background-color: #9BBFB5;
   }

   nav ul {
      list-style-type: none;
   }

   nav ul li {
      margin: 8px;
      font-size: 22px;
      display: inline-block;
   }

   nav ul li a {
      display: block;
      text-decoration: none;
      color: black;
   }
   
   main {
      width: 100%;
   }

 